/*------------------------NAVIGATIONS------------------------------*/

nav img {

    width: 70px;
    height: 60px;
    vertical-align: middle;
    position: absolute;
    left: 19.5px;
    top: 19.5px;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

#menu a {

    color: white;
    line-height: 30px;
}

a:hover {
    opacity: 0.5;
}

#links {
    position: absolute;
    top: 40px;
    width: 100%;
    left: -30px;

}

#nav_container {


    text-align: center;
    text-decoration: none;
    word-spacing: 3em;
    margin: 39px 0px 39px 0px;
    font-size: 20px;
    width: 100%;

}

/*-----------------------------------FORSIDE----------------------------*/

section img {

    width: 100%;
    margin-bottom: 180px;
}

/*---------------------------PORTFOLIO-------------------------------------------*/

#sectionwrapper_header_portfolio {

    max-width: 750px;
    margin: auto auto 30px auto;
}

#sectionwrapper_portfolio {
    display: flex;
    flex-wrap: wrap;
    max-width: 750px;
    margin: auto auto 133px auto;

}

#section_column1 {

    flex-basis: 300px;
    flex-grow: 1;
}

#section_column2 {

    flex-basis: 300px;
    flex-grow: 1;
}

#overskrift_portfolio_header {

    margin: 40px 0px 10px 0px;
    font-size: 1.5em;
    word-spacing: 0.15em;
    line-height: 1.5em;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

#om_portfolio_header {

    font-size: 1em;
    word-spacing: 0.15em;
    line-height: 1.5em;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin-bottom: 0px;
}

#overskrift_portfolio {

    margin: 10px 0px 10px 0;
    font-size: 1em;
    word-spacing: 0.15em;
    line-height: 1.5em;
    font-family: 'Yanone Kaffeesatz', sans-serif;

}

#overskrift_portfolio1 {

    margin: 10px 0px 10px 0;
    font-size: 1em;
    word-spacing: 0.15em;
    line-height: 1.5em;
    font-family: 'Yanone Kaffeesatz', sans-serif;

}

#overskrift_portfolio2 {

    margin: 10px 0px 10px 0;
    font-size: 1em;
    word-spacing: 0.15em;
    line-height: 1.5em;
    font-family: 'Yanone Kaffeesatz', sans-serif;

}

#overskrift_portfolio3 {

    margin: 10px 0px 10px 0;
    font-size: 1em;
    word-spacing: 0.15em;
    line-height: 1.5em;
    font-family: 'Yanone Kaffeesatz', sans-serif;

}

#overskrift_portfolio4 {

    margin: 10px 0px 10px 0;
    font-size: 1em;
    word-spacing: 0.15em;
    line-height: 1.5em;
    font-family: 'Yanone Kaffeesatz', sans-serif;

}

#overskrift_portfolio5 {

    margin: 10px 0px 10px 0;
    font-size: 1em;
    word-spacing: 0.15em;
    line-height: 1.5em;
    font-family: 'Yanone Kaffeesatz', sans-serif;

}

#overskrift_portfolio6 {

    margin: 10px 0px 10px 0;
    font-size: 1em;
    word-spacing: 0.15em;
    line-height: 1.5em;
    font-family: 'Yanone Kaffeesatz', sans-serif;

}


#om_portfolio {

    font-size: 1em;
    word-spacing: 0.15em;
    line-height: 1.5em;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin-bottom: 20px;

}

#om_portfolio1 {

    font-size: 1em;
    word-spacing: 0.15em;
    line-height: 1.5em;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin-bottom: 20px;

}

#om_portfolio2 {

    font-size: 1em;
    word-spacing: 0.15em;
    line-height: 1.5em;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin-bottom: 20px;

}

#om_portfolio3 {

    font-size: 1em;
    word-spacing: 0.15em;
    line-height: 1.5em;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin-bottom: 20px;

}

#om_portfolio4 {

    font-size: 1em;
    word-spacing: 0.15em;
    line-height: 1.5em;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin-bottom: 20px;

}

#om_portfolio5 {

    font-size: 1em;
    word-spacing: 0.15em;
    line-height: 1.5em;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin-bottom: 20px;

}

#om_portfolio6 {

    font-size: 1em;
    word-spacing: 0.15em;
    line-height: 1.5em;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin-bottom: 20px;

}



#portfolio_container {

    position: relative;
    margin: 10px 30px 10px 30px;
    cursor: pointer;

}

#portfolio_container1 {

    position: relative;
    margin: 10px 30px 10px 30px;
    cursor: pointer;

}

#portfolio_container2 {

    position: relative;
    margin: 10px 30px 10px 30px;
    cursor: pointer;

}

#portfolio_container3 {

    position: relative;
    margin: 10px 30px 10px 30px;
    cursor: pointer;

}

#portfolio_container4 {

    position: relative;
    margin: 10px 30px 10px 30px;
    cursor: pointer;

}

#portfolio_container5 {

    position: relative;
    margin: 10px 30px 10px 30px;
    cursor: pointer;

}


#portfolio_container img {

    opacity: 1;
    display: block;
    height: auto;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
    cursor: pointer;

}

#portfolio_container1 img {

    opacity: 1;
    display: block;
    height: auto;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
    cursor: pointer;

}

#portfolio_container2 img {

    opacity: 1;
    display: block;
    height: auto;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
    cursor: pointer;

}

#portfolio_container3 img {

    opacity: 1;
    display: block;
    height: auto;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
    cursor: pointer;

}

#portfolio_container4 img {

    opacity: 1;
    display: block;
    height: auto;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
    cursor: pointer;

}

#portfolio_container5 img {

    opacity: 1;
    display: block;
    height: auto;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
    cursor: pointer;

}


#portfolio_tekst_boks {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    cursor: pointer;
}

#portfolio_tekst_boks1 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    cursor: pointer;
}

#portfolio_tekst_boks2 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    cursor: pointer;
}

#portfolio_tekst_boks3 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    cursor: pointer;
}

#portfolio_tekst_boks4 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    cursor: pointer;
}

#portfolio_tekst_boks5 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    cursor: pointer;
}


#portfolio_container:hover img {

    opacity: 0.3;
    filter: blur(2px);
    cursor: pointer;
}

#portfolio_container1:hover img {

    opacity: 0.3;
    filter: blur(2px);
    cursor: pointer;
}

#portfolio_container2:hover img {

    opacity: 0.3;
    filter: blur(2px);
    cursor: pointer;
}

#portfolio_container3:hover img {

    opacity: 0.3;
    filter: blur(2px);
    cursor: pointer;
}

#portfolio_container4:hover img {

    opacity: 0.3;
    filter: blur(2px);
    cursor: pointer;
}

#portfolio_container5:hover img {

    opacity: 0.3;
    filter: blur(2px);
    cursor: pointer;
}


#portfolio_container:hover #portfolio_tekst_boks {

    opacity: 1;
}

#portfolio_container1:hover #portfolio_tekst_boks1 {

    opacity: 1;
}

#portfolio_container2:hover #portfolio_tekst_boks2 {

    opacity: 1;
}

#portfolio_container3:hover #portfolio_tekst_boks3 {

    opacity: 1;
}

#portfolio_container4:hover #portfolio_tekst_boks4 {

    opacity: 1;
}

#portfolio_container5:hover #portfolio_tekst_boks5 {

    opacity: 1;
}


#portfolio_tekst {

    border: solid 1px black;
    color: black;
    font-size: 1em;
    font-weight: 600;
    padding: 16px 32px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    cursor: pointer;

}

#portfolio_tekst1 {

    border: solid 1px black;
    color: black;
    font-size: 1em;
    font-weight: 600;
    padding: 16px 32px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    cursor: pointer;

}

#portfolio_tekst2 {

    border: solid 1px black;
    color: black;
    font-size: 1em;
    font-weight: 600;
    padding: 16px 32px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    cursor: pointer;

}

#portfolio_tekst3 {

    border: solid 1px black;
    color: black;
    font-size: 1em;
    font-weight: 600;
    padding: 16px 32px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    cursor: pointer;

}

#portfolio_tekst4 {

    border: solid 1px black;
    color: black;
    font-size: 1em;
    font-weight: 600;
    padding: 16px 32px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    cursor: pointer;

}

#portfolio_tekst5 {

    border: solid 1px black;
    color: black;
    font-size: 1em;
    font-weight: 600;
    padding: 16px 32px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    cursor: pointer;

}


#billede_send_eller_slet {

    margin-top: 68.3px;
}

#redesign_ret_billede {
    margin-top: 67.3px;

}

/*-------------------------STILARTSSITE-------------------------------------------*/

#overskrift_stilartssite {

    margin: 0 0 10px 0;
    font-size: 1.5em;
    word-spacing: 0.15em;
    line-height: 1.5em;
    font-family: 'Yanone Kaffeesatz', sans-serif;

}

#om_stilartssite {

    font-size: 1em;
    word-spacing: 0.15em;
    line-height: 1.5em;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

#sectionwrapper {

    max-width: 750px;
    margin: auto auto 133px auto;

}

iframe {

    width: 100%;
    height: 200px;

}

#stilarts_container {

    position: relative;
    margin: 50px 30px 50px 30px;
    cursor: pointer;

}

#stilarts_container img {

    opacity: 1;
    display: block;
    height: auto;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
    cursor: pointer;

}

#tekst_boks {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    cursor: pointer;

}


#stilarts_container:hover img {

    opacity: 0.3;
    filter: blur(2px);
    cursor: pointer;
}


#stilarts_container:hover #tekst_boks {

    opacity: 1;
}


.tekst {

    border: solid 1px black;
    color: black;
    font-size: 1em;
    font-weight: 600;
    padding: 16px 32px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    cursor: pointer;
}

#column {

    flex-basis: 300px;
    flex-grow: 1;
    margin: 0px 20px 0px 30px;
}

#column1 {

    flex-basis: 300px;
    flex-grow: 1;
    margin: 0px 20px 0px 30px;
}

#column2 {

    flex-basis: 300px;
    flex-grow: 1;
    margin: 0px 20px 0px 30px;
}

#column3 {

    flex-basis: 300px;
    flex-grow: 1;
    margin: 0px 20px 0px 30px;
}

#column4 {

    flex-basis: 300px;
    flex-grow: 1;
    margin: 0px 20px 0px 30px;
}

#column5 {

    flex-basis: 300px;
    flex-grow: 1;
    margin: 0px 20px 0px 30px;
}

#column6 {

    flex-basis: 300px;
    flex-grow: 1;
    margin: 0px 20px 0px 30px;
}

/*-----------------------------------UX-------------------------------------------*/

#sectionwrapper_header_ux {

    max-width: 750px;
    margin: auto auto 50px auto;

}

#sectionwrapper_ux {

    display: flex;
    flex-wrap: wrap;
    max-width: 750px;
    margin: auto auto 133px auto;

}

#section_column1 {

    flex-basis: 300px;
    flex-grow: 1;

}

#section_column2 {

    flex-basis: 300px;
    flex-grow: 1;

}

#overskrift_ux_header {

    margin: 50px 0px 10px 0;
    font-size: 1.5em;
    word-spacing: 0.15em;
    line-height: 1.5em;
    font-family: 'Yanone Kaffeesatz', sans-serif;

}

#overskrift_ux_header1 {

    margin: 50px 0px 10px 0;
    font-size: 1.5em;
    word-spacing: 0.15em;
    line-height: 1.5em;
    font-family: 'Yanone Kaffeesatz', sans-serif;

}

#overskrift_ux_header2 {

    margin: 50px 0px 10px 0;
    font-size: 1.5em;
    word-spacing: 0.15em;
    line-height: 1.5em;
    font-family: 'Yanone Kaffeesatz', sans-serif;

}

#overskrift_ux_header3 {

    margin: 50px 0px 10px 0;
    font-size: 1.5em;
    word-spacing: 0.15em;
    line-height: 1.5em;
    font-family: 'Yanone Kaffeesatz', sans-serif;

}


#om_ux_header {

    font-size: 1em;
    word-spacing: 0.15em;
    line-height: 1.5em;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin-bottom: 0px;
}


#overskrift_ux {

    margin: 10px 0px 10px 0;
    font-size: 1em;
    word-spacing: 0.15em;
    line-height: 1.5em;
    font-family: 'Yanone Kaffeesatz', sans-serif;

}

#overskrift_ux1 {

    margin: 10px 0px 10px 0;
    font-size: 1em;
    word-spacing: 0.15em;
    line-height: 1.5em;
    font-family: 'Yanone Kaffeesatz', sans-serif;

}

#overskrift_ux2 {

    margin: 10px 0px 10px 0;
    font-size: 1em;
    word-spacing: 0.15em;
    line-height: 1.5em;
    font-family: 'Yanone Kaffeesatz', sans-serif;

}

#overskrift_ux3 {

    margin: 10px 0px 10px 0;
    font-size: 1em;
    word-spacing: 0.15em;
    line-height: 1.5em;
    font-family: 'Yanone Kaffeesatz', sans-serif;

}


#om_ux_native {

    font-size: 1em;
    word-spacing: 0.15em;
    line-height: 1.5em;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin-bottom: 370px;

}

#om_ux {

    font-size: 1em;
    word-spacing: 0.15em;
    line-height: 1.5em;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin-bottom: 20px;

}

#om_ux1 {

    font-size: 1em;
    word-spacing: 0.15em;
    line-height: 1.5em;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin-bottom: 20px;

}

#om_ux2 {

    font-size: 1em;
    word-spacing: 0.15em;
    line-height: 1.5em;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin-bottom: 20px;

}

#om_ux3 {

    font-size: 1em;
    word-spacing: 0.15em;
    line-height: 1.5em;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin-bottom: 20px;

}


#ux_container {

    position: relative;
    margin: 50px 30px 10px 30px;
    cursor: pointer;

}

#ux_container1 {

    position: relative;
    margin: 50px 30px 10px 30px;
    cursor: pointer;

}

#ux_container2 {

    position: relative;
    margin: 50px 30px 10px 30px;
    cursor: pointer;

}

#ux_container3 {

    position: relative;
    margin: 50px 30px 10px 30px;
    cursor: pointer;

}


#ux_container img {

    opacity: 1;
    display: block;
    height: auto;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
    cursor: pointer;

}

#ux_container1 img {

    opacity: 1;
    display: block;
    height: auto;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
    cursor: pointer;

}

#ux_container2 img {

    opacity: 1;
    display: block;
    height: auto;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
    cursor: pointer;

}

#ux_container3 img {

    opacity: 1;
    display: block;
    height: auto;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
    cursor: pointer;

}


#ux_tekst_boks {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    cursor: pointer;
}

#ux_tekst_boks1 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    cursor: pointer;
}

#ux_tekst_boks2 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    cursor: pointer;
}

#ux_tekst_boks3 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    cursor: pointer;
}



#ux_container:hover img {

    opacity: 0.3;
    filter: blur(2px);
    cursor: pointer;

}

#ux_container1:hover img {

    opacity: 0.3;
    filter: blur(2px);
    cursor: pointer;

}

#ux_container2:hover img {

    opacity: 0.3;
    filter: blur(2px);
    cursor: pointer;

}

#ux_container3:hover img {

    opacity: 0.3;
    filter: blur(2px);
    cursor: pointer;

}



#ux_container:hover #ux_tekst_boks {

    opacity: 1;

}

#ux_container1:hover #ux_tekst_boks1 {

    opacity: 1;

}

#ux_container2:hover #ux_tekst_boks2 {

    opacity: 1;

}

#ux_container3:hover #ux_tekst_boks3 {

    opacity: 1;

}


.ux_tekst {

    border: solid 1px black;
    color: black;
    font-size: 1em;
    font-weight: 600;
    padding: 16px 32px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    cursor: pointer;

}

.ux_tekst1 {

    border: solid 1px black;
    color: black;
    font-size: 1em;
    font-weight: 600;
    padding: 16px 32px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    cursor: pointer;

}

.ux_tekst2 {

    border: solid 1px black;
    color: black;
    font-size: 1em;
    font-weight: 600;
    padding: 16px 32px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    cursor: pointer;

}

.ux_tekst3 {

    border: solid 1px black;
    color: black;
    font-size: 1em;
    font-weight: 600;
    padding: 16px 32px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    cursor: pointer;

}


/*-----------------------------ALLE-SIDER-------------------------------------*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

video {

    width: 100%;
}


.hide {

    display: none;

}

hr {

    color: black;

}

#top_side {

    padding: 0px 0px 0px 30px;

}

#bund_side {

    max-width: 750px;

}

#op_doublecolumn {

    background-color: rgb(35, 43, 46);
    position: relative;
    z-index: 99;
    width: 25px;
    left: 290px;
    top: 80px;
    padding: 0px 26.5px 3px 10px;
    margin: 0px 0px 0px 0px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1em;
    cursor: pointer;

}

#op {

    background-color: rgb(35, 43, 46);
    position: relative;
    z-index: 99;
    width: 25px;
    left: 290px;
    top: 80px;
    padding: 0px 26.5px 3px 10px;
    margin: 0px 0px 0px 0px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1em;
    cursor: pointer;

}

/*-----------------------------OM MIG---------------------------------------------*/

#video {

    margin: 30px 0px 30px 0px;
}

#link_styletile {

    position: absolute;
    z-index: 99;
    padding: 5px 20px 5px 20px;
    text-align: center;
    color: white;
    background-color: rgb(35, 43, 46);
    font-size: 0.9em;
    cursor: pointer;
    margin-top: 30px;

}



#link_til_dokumentationssite {

    position: absolute;
    z-index: 99;
    padding: 5px 20px 5px 20px;
    text-align: center;
    color: white;
    background-color: rgb(35, 43, 46);
    font-size: 0.9em;
    cursor: pointer;
    margin-top: 30px;

}


#hent_working_title {

    position: absolute;
    z-index: 99;
    padding: 5px 20px 5px 20px;
    text-align: center;
    color: white;
    background-color: rgb(35, 43, 46);
    font-size: 0.9em;
    cursor: pointer;

}


#hent_cv {

    position: absolute;
    z-index: 99;
    padding: 5px 20px 5px 20px;
    text-align: center;
    color: white;
    background-color: rgb(35, 43, 46);
    font-size: 0.9em;
    cursor: pointer;

}


#youtube_logo {

    width: 50px;
    height: 11px;

}

/*-------------------------BURGER MENU--------------------------------------------*/

.hidden {

    transform: translateX(-150%);

}

#menuknap {

    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 38px;

}

#menu {

    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    list-style-type: none;
    transition: transform 0.5s;
    text-align: left;
    background-color: rgb(0, 0, 0);
    padding: 79px 100px 0px 30px;
    height: 100%;
    background-color: rgb(35, 43, 46);

}


/*----------------------------FOOTER----------------------------------------------------------*/


.footer {

    position: fixed;
    bottom: 0;
    margin-top: auto;
    background-color: #dbdbdb;
    width: 100%;
    background-color: rgb(35, 43, 46);
    padding: 10px 0px 10px 0px;

}

.footer p {

    margin: 0px 0 0 0px;
    color: white;
    font-family: 'Abel', sans-serif;
    font-size: 0.73rem;
    text-align: center;
    vertical-align: bottom;
    margin-bottom: auto;

}

/*--------------------------------MEDIAQUERIES------------------------------- */

@media only screen and (min-width: 375px) {

    #nav_container {

        margin: 100px 500px 20px 0px;
    }

    #op_doublecolumn {

        left: 309px;
    }
}



@media only screen and (max-width: 599px) {

    #om_ux_native {

        margin-bottom: 0px;
    }
}


@media only screen and (max-width: 597px) {

    #billede_send_eller_slet {

        margin-top: 0px;
    }

    #redesign_ret_billede {
        margin-top: 0px;

    }
}

@media only screen and (max-width: 648px) {

    #nav_container {


        margin: 83px 0px 20px 0px;
    }

    #menuknap {

        display: inline-block;
        cursor: pointer;
        position: absolute;
        right: 30px;
        top: 28px;
    }

    nav img {

        width: 70px;
        height: 60px;
        vertical-align: middle;
        position: absolute;
        left: 19.5px;
        top: 11px;
    }
}



@media only screen and (min-width: 648px) {

    #tilbage {

        margin: 19px 0px 20px -5px;

    }

}




@media only screen and (min-width: 1024px) {
    #om_forside {
        margin: 0px 170px;

    }
}




@media only screen and (min-width: 768px) {
    #om_forside {
        margin: 0px 130px;
    }

    #overskrift_forside {

        margin: 50px 0px 20px 130px;
    }

    #tilbage {

        margin: 19px 0px 20px 5px;

    }

    #op {
        left: 645px;

    }
}



@media only screen and (min-width: 1024px) {
    #om_forside {
        margin: 0px 170px;
    }


    #overskrift_forside {

        margin: 50px 0px 20px 170px;
    }

}



@media only screen and (min-width: 1905px) {
    #om_forside {
        margin: 0px 625px;
        font-size: 1.5em;
    }

}


/*---------------------------MEDIAQUERIES BURGERMENU-------------------------*/


@media only screen and (max-width: 768px) {

    #links {
        visibility: hidden;
    }

}



@media only screen and (min-width: 769px) {

    #menuknap {
        display: none;
    }

    #menu {

        height: 100%;
    }
}



@media only screen and (min-width: 1600px) {

    #op {

        left: 650px;
    }

    #tilbage {

        left: 19px;
    }
}



@media only screen and (min-width: 375px) {

    section img {

        width: 100%;
        margin-bottom: 13px
    }
}



@media only screen and (min-width: 1920px) {

    section img {

        width: 100%;
        margin-bottom: 33.7px
    }
}



@media only screen and (min-width: 1920px) {

    #op {
        left: 658px;
    }
}
